@import url("bootstrap-3.3.6-dist/css/bootstrap.css");

html{
    position: relative;
    min-height: 100%;
}

body{
    /*Based on Height of Footer*/
    margin-bottom: 60px;
}

html, body{
    font-family: proxima-nova-alt,sans-serif;
    font-size: 1.15em;
    font-weight: 400;
    line-height: 1.6;
    color: #444D56;
}

/*.form-control{width:20%}*/

.banner-header{
    position: fixed;
    background-color: #F2590D;
    top: 0;
    margin-bottom: 20px;
}

.wordmark-vertical{
    height:50%;
    width:50%;
    display:block;
    padding: 10px;
    margin: auto;
}


.main-content{ 
    display: block;
    top: 30px;
    padding-bottom: 60px;
    /*Based on Height of Footer*/
    margin-bottom: 60px;
}

.search-form{
    padding:10px;
}

/*.search-form .main-search-field{
    width: 500px;
}*/

.form-control-inline{
    min-width: 20000px;
    width: auto;
    display: inline;
}

.footer{
    background: #131f33;
    min-height: 60px;
    width: 100%;
    display: block;
    margin:0;
    text-align: center;
    /*word-wrap: break-word;*/
    position: absolute;
    bottom: 0;
}

ul.footer-links{
    padding: 10px;
}

ul.footer-links li{
	text-align: center;
	list-style-type: none;
	margin: 0;
	display: inline;
}

ul.footer-links li a{
    margin: 10;
	padding: 30px 30px 30px 30px;
	color: #D4DADD;
}

a{
    background-color: transparent;
    transition: all 250ms ease-out;
    line-height: normal;
    width: 100%;
    color: #F2590D;
    text-decoration: none;
    cursor: auto;
}

a:visited {
   //text-decoration: none;
    text-decoration: underline;
}

a:hover{
    //display: inline-block;
    text-decoration: underline;
    height: 100%;
    padding-top: 9.98px;
    color: #131f33;
    cursor: pointer;

}

.standalone_link:hover{
    outline: #FA2 solid 3px;

}

.standalone_link:focus {
    outline: #FA2 solid 3px;
}

/******************buttons******************************/


#bootstrap-overrides button, input[type="submit"]{
    display: inline-block;
    padding: .4em 1.25em .35em;
    border-radius: 5em;
    vertical-align: middle;
    //margin: 0 .05em .9em;
    font-size: 90%;
    //line-height: normal;
    
    transition: all 250ms ease-out;
}


input[type="submit"]{
    /*background-color: #FA6300;*/
    color: #263B54;
    background-color: #FA6300;
    border: none;
}

#bootstrap-overrides input[type="submit"]:hover{ 
    /*background-color: #6e7887;*/
    color: #263B54;
    background-color: #FA6300;
}


#bootstrap-overrides .special-submit-button{
    border-radius: .5em;
}

#bootstrap-overrides #add_search{
    margin-top: 10px;
}

#bootstrap-overrides button{
   /* background-color: #D4DADD;
    color: #363d44;*/
    color: white;
    /*background-color: #FA6300;*/
    background-color: #263B54;
    border: none;
}

#bootstrap-overrides button:hover{ 
    /*background-color: #6e7887;*/
    color: #263B54;
    background-color: #FA6300;
}


.field-submit-button{
    display: block;
    padding: 10px;
    color: #263B54;
    background-color: #FA6300;
}

#bootstrap-overrides .search-criteria-button{
    background-color: #363d44;
}

#bootstrap-overrides #submit-advanced-search{
    background-color: #FA6300;
    color: #263B54;
}

#bootstrap-overrides #submit-advanced-search:hover{
    color: white;
    background-color: #363d44;

}

#bootstrap-overrides .edit-button{
    background: #D4DADD;
    color: #363d44;
}

#bootstrap-overrides .edit-delete-button-pair{
    width: auto;
    border: none;
}

#bootstrap-overrides .edit-delete-button-pair:hover{
    text-decoration: none;
    padding: 0px 5px 0px 5px;
    cursor: pointer;

}
/*****************************************************/

.and-or-group{
    display: block;
}

#remove_selected{
    margin-top: 3px;
    margin-bottom: 3px;
}

#search_form{
    margin-top: 50px;
    margin-bottom: 15px;
}

#search-criteria-region{
    display: block;
    margin-bottom: 50px;
}

.panel-content{
    margin: auto;
    width: 80%;
}

.active-search-tab{
    background-color: purple;
}

.search-fieldset{
    margin: auto;
    display: block;
    width: 85%;
    text-align: center;
}



.tabbed-search-box{
    width: 75%;
    margin-bottom: 40px;
}

.tabbed-search-box .tab-pane{ 
    border: 1px solid #D6D6D6;
    border-top: 0;  
}

#tabbed-box li a { 
    border-color: #D6D6D6;
    background-color: #90ABBD; 
}

#tabbed-box li.active a { 
    border-bottom-color: transparent;
    background-color: #E5EBF0;
}


.tabbed-search-box .tab-pane{ 
    border: 1px solid #D6D6D6;
    border-top: 0;
    background-color: #E5EBF0;
}

#bootstrap-overrides .nav-tabs{
  border-bottom: 0;
}

.search-navigation{
    padding: 10px 0px 10px 0px;
}

legend{
    font-family: proxima-nova-alt,sans-serif;
    font-weight: 600;
    color: #6e7887;
}

.advanced-search{
    padding: 30px 0px 10px 0px;
}

.inner-addon {
    position: relative;
}

.left-addon .glyphicon {
    left: 0px;
}

.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.build-search-table{
    padding-bottom: 10px;
}

.search-table, .build-search-table{
    max-width: 100%;
    background-color: white;
    border-top-color: #34466b;
    border-radius: .25em;
    margin-bottom: 15px;
}

.search-table table{
    border-collapse: separate; 
    border-spacing: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.search-table > table > thead > tr > th { 
    border: none; 
}

.search-table > table > tbody > tr > td { 
    border: none; 
    font-weight: 600;
    color: #263b54;
}

#bootstrap-overrides .criteria-legend{
    margin-bottom: 0px;
    padding: 3px;
    font-size: 21px;
    font-family: proxima-nova-alt,sans-serif;
    font-weight: 400;
    border-top-left-radius: .25em;
    border-top-right-radius: .25em;
    border-bottom: #FA6300 10px solid;
    background-color: #34466b;
    color: white;
}

#bootstrap-overrides .query-specifics{
    color: #FA6300;
    font-weight: 600;
    font-size: 13px;
}
/*.tab-content{
    background-color: yellow;
    color:#fff;
    padding:5px
}


*/



/*.nav-tabs > li > a:hover{
  background-color: #303136 !important;
    border: medium none;
    border-radius: 0;
    color:#fff;
}*/

/*
.footer-menu-resources-header {
    margin-bottom: .06em;
    font-size: 88%;
    letter-spacing: 0;
    color: #F2590D;
    font-weight: 600;
    font-family: proxima-nova-alt,sans-serif;
}

.footer-menu-resources-links {
    font-size: 88%;
}

.col-1 {
    width: 12.5%;
}

.float-right {
    float: right;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .nav-global-submenu-wrapper .submenu-group.image, .nav-global-submenu-wrapper .submenu-group.links {
    margin-right: 5%;
    float: left;
}

footer-branding, .branding-wordmark {
    height: auto;
    background: pink;
    text-align: center;
}
*/



/*





*/

/**************banner section******************/
/*
header[role=banner] {
    width: 100%;
    height: 219px;
    padding-top: 35px;
    background: #FA6300;
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;
}

.container {
    max-width: 1280px;
    width: 92%;
    margin-right: auto;
    margin-left: auto;
}

.width-extra-large {
    max-width: 1350px;
    width: 98%;
}

.site-branding {
    width: 40%;
    margin: 0 auto;
    height: 138px;
    padding-top: 36.8px;
}

.site-branding .branding-wordmark {
    height: 71.76px;
    display: block;
    background-repeat: no-repeat;
    overflow: hidden;
}

.visiblyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
*/
/*******************************/
